section {
    margin-top: 100px;
}

div {
    height: 50px;
    width: 200px;
    background-color: #7aa874;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}

/* transform-rotate */

#one {
    transform: rotate(45deg);
}

/* transform-scale */
#two {
    transform: scale(0.5);
    /* scale has x and y properties too */
}

/* transform-translate */
#three {
    /* 
    transform: translateX(100px);
    transform: translateY(100px); 
    */
    transform: translate(-100px);
}

/* transform-skew */
#four {
    transform: skew(30deg);
}

#five {
    transform: rotate(30deg) translate(150px);
}