<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <% if(locals.error) {%>
        <div style="color:red; margin-bottom:1rem;">
            Incorrect password!
        </div>
        <% } %>
            <form method="post">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required>
                <br>
                <button style="grid-column: span 2;" type="submit">Download</button>
            </form>
</body>

</html>