<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edinburgh Travel</title>
</head>

<body>
    <header><img src="/img/logo.jpeg" alt="Edinburgh Travel Logo"></header>
    {{{body}}}
</body>

</html>